services:
  watchweave:
    image: nate8727/watchweave:latest
    container_name: watchweave
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./config:/config
      - ./logs:/logs
    ports:
      - "8089:8089"
